accelerate==0.33.0
git+https://github.com/huggingface/diffusers.git@9214f4a3782a74e510eff7e09b59457fe8b63511 # branch compatible with the recent Allegro update
numpy==1.24.4
#torch==2.4.1
tqdm==4.66.2
transformers==4.40.1
#xformers==0.0.28.post1
einops==0.7.0
decord==0.6.0
sentencepiece==0.1.99
imageio
imageio-ffmpeg
ftfy
bs4
psutil # for live system stat monitoring in console
pytorch-msssim   # for managing interpolation files
